{% load common %}


{% if categories %}

  <div class='resource-categories'>

    {% for category in categories %}

      <div class='expanding-list'>
        <div class='expanding-list__title-bar'>
          <h2 class='expanding-list__title'>{{ category.title }}</h2>

          <span class='expanding-list__toggle'><i class='fa fa-plus'></i></span>
        </div>

        <div class='elist-items'>

          {% for resource in category.resource_set.all %}

            <div class='elist-item'>
              <h3 class='elist-item__title'>{{ resource.title }}</h3>

              {% if resource.description %}

                <div class='elist-item__description'>
                  {{ resource.description|linebreaks }}
                </div>

              {% endif %}

              {% if resource.address %}

                <div class='elist-item__address'>
                  <i class='fa fa-map-marker'></i><div>{{ resource.address|linebreaks }}</div>
                </div>

              {% endif %}

              {% if resource.phone %}

                <p class='elist-item__phone'>
                  <i class='fa fa-phone'></i>{% phone_number resource.phone %}
                </p>

              {% endif %}

              {% if resource.email %}

                <p class='elist-item__email'>
                  <i class='fa fa-envelope'></i><a href='mailto:{{ resource.email }}' target='_blank'>{{ resource.email }}</a>
                </p>

              {% endif %}

              {% if resource.url %}

                <a class='button--primary' href='{{ resource.url }}' target='_blank'><i class='fa fa-globe'></i> Visit Website</a>

              {% endif %}

            </div>

            {% if not forloop.last %}

              <div class='divider'></div>

            {% endif %}

          {% endfor %}

        </div>
      </div>

    {% endfor %}

  </div>

{% endif %}
