[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=chathan
Group=www-data
WorkingDirectory=/home/chathan/chmvh-website/chmvh_website
ExecStart=/home/chathan/chmvh-website/env/bin/gunicorn --workers 3 --bind unix:/home/chathan/chmvh-website/chmvh_website/chmvh_website.sock chmvh_website.wsgi:application

[Install]
WantedBy=mult-user.target
