.address {
  @include element('title') {
    font-weight: bold;
    padding-bottom: .25em;

    i {
      margin-right: .5em;
    }
  }

  i {
    color: $color-brand;
  }

  p {
    margin: 0;
  }
}
