.button {
  border: 0;
  display: inline-block;
  margin: $button-margin;
  padding: $button-padding;
  text-decoration: none;

  @include modifier('primary') {
    @extend .button;

    background: $color-brand;
    color: $button-primary-color;

    &:hover {
      background: darken($color-brand, 5%);
      color: darken($button-primary-color, 10%);
    }

    &:active,
    &:visited {
      color: $button-primary-color;
    }
  }

  @include modifier('block') {
    display: block;
    text-align: center;
  }

  &:focus {
    outline: none;
  }

  i {
    margin-right: .5em;
  }
}
