.container {
  margin: 0 auto;
  max-width: $container-max-width;

  @include modifier('padded-mobile') {
    @extend .container;

    @include media($mobile-down) {
      padding: 0 .5em;
    }
  }
}
