.faq {
  @include span-columns(3 of 3);

  @include element('title') {
    display: inline-block;
    border-bottom: $faq-title-underline;
  }

  @include media($desktop-up) {
    @include span-columns(1 of 3);
  }

  @include modifier('full-width') {
    @include span-columns(3 of 3);
  }
}

.faqs {
  @include clearfix;

  margin: 0 auto;
  max-width: $faq-max-width;
  padding: $faq-padding;
}
