.form {
  @include element('error') {
    margin: 0;
  }

  @include element('errors') {
    background: $color-error;
    box-shadow: $card-shadow;
    margin: $form-error-margin;
    padding: $form-error-padding;
  }
}

.form-input {
  margin: $form-input-margin;

  input,
  textarea {
    background: none;
    border: 0;
    border-bottom: $form-input-border;
    max-width: 100%;
    width: 100%;

    &:focus {
      border-bottom: $form-input-border-focused;
      outline: none;
    }
  }

  label {
    color: $form-label-color;
    display: block;
    font-size: $form-label-size;
  }

  textarea {
    resize: vertical;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: $form-search-margin;
  max-width: $form-search-max-width;

  @include media($tablet-up) {
    flex-direction: row;
  }

  button {
    flex: 0;
    margin: 0;

    @include media($tablet-up) {
      margin-left: $form-search-button-margin;
    }
  }

  input {
    background: none;
    border: 0;
    border-bottom: $form-input-border;
    width: 100%;

    &:focus {
      border-bottom: $form-input-border-focused;
      outline: none;
    }
  }
}
