.gridlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include element('body') {
    margin-top: 0;
  }

  @include element('icon') {
    background: $gridlist-icon-bg;
    border-radius: 50%;
    color: $gridlist-icon-color;
    margin-right: 1em;
    padding: .25em .7em;
  }

  @include element('item') {
    flex-basis: 100%;
    max-width: $gridlist-item-max-width;
    min-width: $gridlist-item-min-width;
    padding: $gridlist-item-padding;
  }

  @include element('title') {
    border-bottom: $gridlist-title-underline;
    display: inline-block;
    font-size: $gridlist-title-size;
  }
}
