.slider {
  @include element('description') {
    margin-top: 0;
    text-align: center;
  }

  @include element('img') {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  @include element('title') {
    margin-bottom: $slider-title-margin-bottom;
    text-align: center;
  }

  @include element('wrapper') {
    margin-bottom: $slider-margin-bottom;
  }
}
