body {
  font-family: $font-family-body;
}

h1 {
  font-family: $font-family-headings;
}

h2 {
  font-family: $font-family-headings;
}

h3 {
  font-family: $font-family-headings;
}

h4 {
  font-family: $font-family-headings;
}

h5 {
  font-family: $font-family-headings;
}

h6 {
  font-family: $font-family-headings;
}
