.divider {
  border-bottom: 1px solid $divider-color;
  margin-left: auto;
  margin-right: auto;
  max-width: 95vw;
  width: 90%;

  @include media(new-breakpoint(min-width $container-max-width)) {
    width: 100%;
  }
}

.img-responsive {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  height: auto;
}

.padded-paragraph {
  padding-bottom: 2em;
}

.text-center {
  text-align: center;
}

.vertcenter {
  @include element('wrapper') {
    align-items: center;
    display: flex;
    height: 100%;
  }
}
