// General
$border-radius: 5px;

$card-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

$color-body-bg: #faf8f2;
$color-brand: #840053;
$color-error: rgba(255, 0, 0, .25);
$color-light-gray: #ddd;
$color-gray: #333;
$color-navigation-bg: #333;
$color-navigation-text: #ddd;
$color-text: #000;

$container-max-width: 50em;
$container-max-width-large: 100em;
$container-padding-small: 1em;

$font-family-body: 'Open Sans', sans-serif;
$font-family-headings: 'Roboto', sans-serif;

$z-nav: 2;

// Blockquote
$blockquote-author-color: lighten($color-text, 30%);
$blockquote-author-size: .85em;
$blockquote-body-margin-bottom: 1em;
$blockquote-medium-width: 20em;
$blockquote-padding: .5em;

// Breakpoints
$mobile-down: new-breakpoint(max-width 480px);
$tablet-up: new-breakpoint(min-width 481px);
$desktop-up: new-breakpoint(min-width 941px);

// Buttons
$button-margin: .5em 0;
$button-padding: .5em 1em;
$button-primary-color: #fff;

// Contact Page
$contact-form-padding: 0 2em 0 0;
$contact-form-width: 2;
$contact-info-icon-color: $color-brand;
$contact-info-icon-size: 1.5em;
$contact-info-icon-width: 2em;
$contact-info-item-margin-top: 1em;
$contact-info-item-margin-top-desktop: 2.5em;
$contact-info-width: 1;
$contact-intro-size: 1.25em;
$contact-wrapper-margin: 2em 0;

// Divider Color
$divider-color: $color-light-gray;

// Expanding List
$expanding-list-margin: 2em 0;
$expanding-list-padding: 1em;
$expanding-list-shadow: $card-shadow;
$expanding-list-title-padding-bottom: .5em;
$expanding-list-title-underline: 1px solid darken($color-light-gray, 50%);
$elist-icon-size: 1.5em;
$elist-icon-width: 1.5em;
$elist-item-padding-bottom: 1em;

// Footer
$footer-bg: $color-navigation-bg;
$footer-color: $color-navigation-text;
$footer-copyright-size: .75em;
$footer-divider: solid 2px darken($footer-color, 50%);
$footer-link-color: darken($footer-color, 20%);
$footer-max-width: 60em;
$footer-padding: 1em 0;

// Forms
$form-asterisk-color: red;
$form-error-margin: 1em 0 .5em 0;
$form-error-padding: .5em;
$form-inline-gutter: .5em;
$form-input-border: 1px solid $color-gray;
$form-input-border-focused: 1px solid $color-brand;
$form-input-group-vert-margin: .25em;
$form-input-margin: 1em 0;
$form-label-color: $color-gray;
$form-label-size: .75em;
$form-search-button-margin: .5em;
$form-search-input-margin: 0 0 1em 0;
$form-search-input-margin-tablet: 0;
$form-search-margin: 1em auto;
$form-search-max-width: 30em;

// Gallery
$gallery-item-margin: 2em 1em;
$gallery-item-max-height: 300px;

// Iconlist
$iconlist-icon-color: $color-brand;
$iconlist-icon-size: 5em;
$iconlist-item-margin: 2em 0;
$iconlist-item-margin-tablet: 3em 0;
$iconlist-title-size: 1.5em;

// Intro
$intro-body-space: 1em;
$intro-content-bg: $color-light-gray;
$intro-content-color: $color-brand;
$intro-content-padding: .5em;
$intro-content-padding-tablet: 1em;
$intro-content-padding-desktop: 2em;
$intro-content-size: 1.25em;
$intro-content-size-tablet: 1.5em;
$intro-cta-margin-bottom-tablet: 4em;
$intro-stripe-bg: $color-brand;
$intro-stripe-width: 10%;
$intro-title-margin-bottom-tablet: 1em;
$intro-title-size: 1.75em;
$intro-title-size-tablet: 2em;

// Links
$link-color: $color-brand;
$link-decoration: none;

// Link List
$link-list-font-size: 1.25em;
$link-list-margin: .5em .1em;
$link-list-margin-tablet: .5em .15em;
$link-list-padding: .05em .1em;
$link-list-underline: 2px solid $color-brand;

// Map
$map-height: 300px;
$map-margin: 2em;

// Navbar
$navbar-bg: $color-navigation-bg;
$navbar-brand-font-size: 1.5em;
$navbar-brand-padding: .5em;
$navbar-breakpoint: new-breakpoint(max-width 860px);
$navbar-link-bg-active: rgba(#000, .5);
$navbar-link-color: $color-navigation-text;
$navbar-link-color-hover: darken($navbar-link-color, 10%);
$navbar-link-padding: 1em .5em;
$navbar-max-width: 60em;
$navbar-mobile-offset: 3.25em;
$navbar-toggle-font-size: 1.5em;

// Slider
$slider-margin-bottom: 4em;
$slider-title-margin-bottom: .5em;

// Team Member
$team-member-padding: 0 .5em;
$team-member-padding-tablet: 0 1em;

// Thanks
$thanks-icon-color: $color-brand;
$thanks-icon-size: 5em;
$thanks-icon-size-tablet: 7em;
$thanks-message-size: 1.5em;
$thanks-message-size-tablet: 2em;
$thanks-title-margin: .5em 0;
$thanks-title-size: 3em;
$thanks-title-size-tablet: 5em;
