// General
$border-radius: 5px;

$card-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

$color-body-bg: #faf8f2;
$color-brand: #840053;
$color-light-gray: #ddd;
$color-gray: #333;
$color-navigation-bg: #333;
$color-navigation-text: #ddd;
$color-text: #000;

$container-max-width: 50em;
$container-max-width-large: 100em;
$container-padding-small: 1em;

$font-family-body: 'Open Sans', sans-serif;
$font-family-headings: 'Roboto', sans-serif;

// Blockquote
$blockquote-author-color: lighten($color-text, 30%);
$blockquote-author-size: .85em;
$blockquote-body-font-weight: bolder;
$blockquote-border: solid 3px lighten($color-text, 70%);
$blockquote-padding: 0 0 0 .5em;

// Breakpoints
$mobile-down: new-breakpoint(max-width 480px);
$tablet-up: new-breakpoint(min-width 481px);
$desktop-up: new-breakpoint(min-width 941px);

// Buttons
$button-margin: .5em 0;
$button-padding: .5em 1em;
$button-primary-color: #fff;

// Divider Color
$divider-color: $color-light-gray;

// Dropdown
$dropdown-description-padding: .25em .5em;
$dropdown-description-size: 1.1em;
$dropdown-item-border: 1px solid $color-light-gray;
$dropdown-max-height: 20em;
$dropdown-max-width: 15em;
$dropdown-item-bg-hover: $color-light-gray;
$dropdown-item-color: $color-brand;
$dropdown-item-padding: .25em;
$dropdown-items-padding: 0;

// FAQ
$faq-max-width: 70em;
$faq-padding: 0 2em;
$faq-title-size: 1.5em;
$faq-title-underline: 1px solid $color-light-gray;

// Footer
$footer-bg: $color-navigation-bg;
$footer-color: $color-navigation-text;
$footer-copyright-size: .75em;
$footer-divider: solid 2px darken($footer-color, 50%);
$footer-link-color: darken($footer-color, 20%);
$footer-max-width: 60em;
$footer-padding: 1em 0;

// Gallery
$gallery-item-margin: 2em 1em;
$gallery-item-max-height: 300px;

// Gridlist
$gridlist-icon-bg: $color-brand;
$gridlist-icon-color: #fff;
$gridlist-item-padding: 0 2em;
$gridlist-item-max-width: 25em;
$gridlist-item-min-width: 20em;
$gridlist-title-size: 1.5em;
$gridlist-title-underline: 1px solid $color-light-gray;

// Link List
$link-list-font-size: 1.25em;
$link-list-margin: .5em .1em;
$link-list-margin-tablet: .5em .15em;
$link-list-padding: .05em .1em;
$link-list-underline: 2px solid $color-brand;

// Map
$map-height: 300px;
$map-margin: 2em;

// Navbar
$navbar-bg: $color-navigation-bg;
$navbar-brand-font-size: 1.5em;
$navbar-brand-padding: .5em;
$navbar-breakpoint: new-breakpoint(max-width 860px);
$navbar-link-bg-active: rgba(#000, .5);
$navbar-link-color: $color-navigation-text;
$navbar-link-color-hover: darken($navbar-link-color, 10%);
$navbar-link-padding: 1em .5em;
$navbar-max-width: 60em;
$navbar-mobile-offset: 3.25em;
$navbar-toggle-font-size: 1.5em;

// Resources
$resource-category-margin: 2em 0;
$resource-category-padding: 1em;
$resource-category-shadow: $card-shadow;
$resource-category-title-padding-bottom: .5em;
$resource-category-title-underline: 1px solid darken($color-light-gray, 50%);
$resource-padding-bottom: 1em;

// Service
$service-border: 1px solid lighten($color-text, 50%);
$service-padding: 1em;
$service-title-size: 1.1em;

// Slider
$slider-margin-bottom: 4em;

// Team Member
$team-member-padding: 0 .5em;
$team-member-padding-tablet: 0 1em;

// Welcome Message
$welcome-bg: #d8d8d8;
$welcome-font-size: 1.25em;
$welcome-font-size-desktop: 1.75em;
$welcome-font-size-tablet: 1.5em;
$welcome-padding: 2em .5em;
$welcome-padding-tablet: 2em 1em;
