.welcome-message {
  background: $welcome-bg;
  border-radius: $border-radius;
  font-size: $welcome-font-size;
  padding: $welcome-padding;

  @include element('title') {
    margin-top: 0;
    text-align: center;
  }

  @include media($tablet-up) {
    font-size: $welcome-font-size-tablet;
    padding: $welcome-padding-tablet;
  }

  @include media($desktop-up) {
    font-size: $welcome-font-size-desktop;
  }
}
