{% load sass_tags %}
{% load static %}


<!doctype html>

<html>

  <head>

    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% block page_title %}CHMVH{% endblock %}</title>

    <link rel='icon' href='{% static "images/favicon.ico" %}' />

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto:700' rel='stylesheet' />

    {% block extra_styles %}{% endblock %}

    <!-- Stylesheets -->
    <link rel='stylesheet' href='{% sass_src "css/main.scss" %}' />

  </head>

  <body>

    <header>

      <div class='navbar'>
        <div class='navbar__wrapper'>
          <div class='navbar__title-bar'>
            <div class='navbar__brand'>
              <a href='{% url "homepage" %}'>CHMVH</a>
            </div>

            <div class='navbar__toggle' data-target='#nav'>
              <a href='#'><i class='fa fa-bars'></i></a>
            </div>
          </div>

          <nav class='navbar__nav' id='nav'>
            <ul class='navbar__links'>
              <li class='navbar__link' id='home'><a href='{% url "homepage" %}'>Home</a></li>
              <li class='navbar__link' id='team'><a href='{% url "team:team" %}'>Team</a></li>
              <li class='navbar__link' id='services'><a href='{% url "services" %}'>Services</a></li>
              <li class='navbar__link' id='housecalls'><a href='{% url "housecalls" %}'>Housecalls</a></li>
              <li class='navbar__link' id='hoursandarea'><a href='{% url "hours-and-area" %}'>Hours and Area</a></li>
              <li class='navbar__link' id='resources'><a href='{% url "resources:resource-list" %}'>Resources</a></li>
              <li class='navbar__link' id='contact'><a href='{% url "contact:contact" %}'>Contact</a></li>
              <li class='navbar__link' id='gallery'><a href='{% url "gallery:index" %}'>Gallery</a></li>
              <li class='navbar__link'><a href='https://chapelhillvet.vetsfirstchoice.com/' target='_blank'>Store</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <div class='footer__wrapper'>
        <div class='footer'>
          <div class='footer__contact'>
            <div>
              <strong>Dr. Sunita Driehuys</strong>
            </div>

            {% if practice_info.email %}

              <div>
                <a href='mailto: {{ practice_info.email }}' target='_blank'>{{ practice_info.email }}</a>
              </div>

            {% endif %}

            {% if practice_info.phone %}

              <div>
                {{ practice_info.phone }}
              </div>

            {% endif %}

          </div>

          <div class='footer__copyright'>
            <p>
              Copyright &copy; {% now "Y" %} Chapel Hill Mobile Veterinary House
              Calls
            </p>
          </div>

          <img class='footer__logo' src='{% static "images/logo.gif" %}' alt='CHMVH Logo' />

        </div>
      </div>
    </footer>

    <script src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous'></script>
    <script src="https://use.fontawesome.com/e7f7b92603.js"></script>
    <script src='{% static "js/navbar.js" %}'></script>
    <script src='{% static "resources/js/resource_list.js" %}'></script>

    {% block extra_scripts %}{% endblock %}

  </body>

</html>
