{% extends 'base.html' %}


{% block page_title %}Contact{% endblock %}

{% block content %}

  <div class='container horiz-center-wrapper'>
    <div class='contact-info'>
      <h1>Dr. Sunita Driehuys</h1>

      <div class='address'>
        <p class='address__line1'>111 Graylyn Drive</p>
        <p class='address__citystate'>Chapel Hill, NC 27516</p>
        <p class='address__phone'><i class='fa fa-phone'></i> (919)&nbsp;357-3440</p>
        <p class='address__fax'><i class='fa fa-fax'></i> (866)&nbsp;422-8401</p>
      </div>

      <a class='button--primary' href='mailto:sdriehuys@chapelhillvet.com' target='_blank'>
        <i class='fa fa-envelope'></i>Send us an email
      </a>
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}

  <script>
    activateNavLink('#contact');
  </script>

{% endblock %}
