{% extends "base.html" %}

{% load static %}


{% block page_title %}Services{% endblock %}

{% block content %}

  <div class='container--padded-mobile'>
    <h1 class='text-center'>Services</h1>

    <p>
      Chapel Hill Mobile Veterinary Housecalls provides comprehensive care for
      dogs and cats in their home environment. Dr. Driehuys is equipped for
      complete physical exams, vaccinations, health certificates, laboratory
      diagnostics, and treatment of outpatient conditions. This service is
      convenient for clients and ideal for many patients. Most pets are more
      comfortable and less anxious at home than in a veterinary hospital.
    </p>

    <div class='expanding-list'>
      <div class='expanding-list__title-bar'>
        <h2 class='expanding-list__title'>Services Offered</h2>

        <span class='expanding-list__toggle'><i class='fa fa-plus'></i></span>
      </div>

      <div class='elist-items'>
        <div class='elist-item'>
          <h3 class='elist-item__title'>Puppy and kitten check-ups</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Adult wellness exams</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Senior pet evaluations</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Vaccinations</h3>
          <p class='elist-item__description'>
            Individual schedules based on each patient's health.
          </p>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Intestinal parasite tests</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Heartworm tests, treatment, and prevention</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Deworming</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Nail trims, clipping of matted fur</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Flea and tick treatment and prevention</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Diagnostic laboratory tests</h3>
          <p class='elist-item__description'>
            Bloodwork, urinalysis, and clinical pathology by a commercial
            veterinary laboratory.
          </p>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Behavior consultations and modification programs</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Diagnosis and treatment for a variety of ailments</h3>
          <p class='elist-item__description'>
            Including, but not limited to: skin disease, ear infections,
            allergies, vomiting, diarrhea, urinary tract disease, arthritis,
            limping, eye disorders, diabetes, Cushing's disease, and wounds.
          </p>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Nutrition evaluation and diet recommendations</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Oral and dental preventive care</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Microchip services</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Blood pressure readings</h3>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Digital Tonometry</h3>
          <p class='elist-item__description'>
            Eye pressure measurement for glaucoma.
          </p>
        </div>

        <div class='divider'></div>

        <div class='elist-item'>
          <h3 class='elist-item__title'>Palliative care and euthanasia for established patients</h3>
        </div>
      </div>
    </div>

    <div class='divider'></div>

    <h2>Hospitalization</h2>

    <p>
      For patients who require inpatient hospitalization, surgery, or radiology
      (x-rays or ultrasound), CHMVH has referral arrangements with local primary
      care and referral veterinary hospitals.
    </p>

    <div class='divider'></div>

    <h2>Payment Options</h2>

    <p>
      We accept many forms of payment, including cash, check, and credit card.
      We accept Visa, MasterCard, Discover, and debit cards. <strong>Payment is
      expected at the time that services are rendered.</strong>
    </p>

    <div class='payment-options'>
      <img src='{% static "images/visa.gif" %}' alt='Visa' />
      <img src='{% static "images/mastercard.gif" %}' alt='Mastercard' />
      <img src='{% static "images/discover.gif" %}' alt='Discover' />
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}

  <script>
    activateNavLink('#services');
  </script>

{% endblock %}
