<section class="banner banner--warning" id="covid-banner">
  <div class="container">
    <h3 class="banner__title">COVID-19</h3>
    <p>
      We are still seeing established patients only, but appointments are
      limited due to all of the safety measures necessary to keep our clients
      and our staff healthy. We are prioritizing necessary vaccines and sick
      patient visits. We are not scheduling grooming or behavior consultations
      until further notice – please contact the local groomers and trainers that
      are listed on our website for these services.
    </p>
  </div>
</section>