{% extends 'gallery/base.html' %}

{% load static %}


{% block page_title %}Gallery - {{ category }}{% endblock %}

{% block extra_styles %}

  <link href='//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css' type='text/css' rel='stylesheet' />

{% endblock %}

{% block content %}

  <h1 class='text-center'>Gallery - {{ category }}</h1>

  {% include 'gallery/snippets/categories.html' %}

  <div class='gallery'>

    {% for pet in pets %}

      <div class='gallery__item'>
        <img class='gallery__img' src='{{ pet.picture.url }}' alt='{{ pet.first_name }}'>
        <p class='gallery__item-title'>{{ pet.first_name }}</p>
      </div>

    {% endfor %}

  </div>

{% endblock %}

{% block extra_scripts %}

  <script src='//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='{% static "js/gallery.js" %}'></script>
  <script>
    activateNavLink('#gallery');
  </script>

{% endblock %}
