{% extends 'gallery/base.html' %}


{% block page_title %}{% if query %}{{ query }} - {% endif %}Search Gallery{% endblock %}

{% block content %}

  <h1 class='text-center'>Search Gallery</h1>

  {% include 'gallery/snippets/search-form.html' %}
  {% include 'gallery/snippets/categories.html' %}

  {% if query %}

    <h2 class='text-center'>Results for: {{ query }}</h2>

    {% if pets %}

      {%  include 'gallery/snippets/pet-list.html' %}

    {% else %}

      <h3 class='text-center'>There are no pets matching your search.</h3>

    {% endif %}

  {% endif %}

{% endblock %}
