{% extends 'base.html' %}

{% load static %}


{% block page_title %}Resources{% endblock %}

{% block content %}

  <div class='container'>
    <h1 class='text-center'>Resources</h1>

    <p>
      Welcome to our resources page. Here you can find a variety of information
      regarding pet care.
    </p>

    {% if important_categories %}

      <h3>Important Resources</h3>

      {% include 'resources/snippets/resource-category-list.html' with categories=important_categories %}

    {% endif %}

    {% if important_categories and categories %}

      <div class='divider'></div>

      <h3>Other Resources</h3>

    {% endif %}

    {% include 'resources/snippets/resource-category-list.html' %}

  </div>

{% endblock %}

{% block extra_scripts %}

  <script>
    activateNavLink('#resources');
  </script>

{% endblock %}
