{% for server in nginx_servers %}
server {
    listen {{ server.listen }};
    server_name {{ server.name }};

    {% if server.extra_params is defined %}{{ server.extra_params }}{% endif %}
}

{% endfor %}
