{% extends 'contact/base.html' %}


{% block content %}

  {% include "snippets/covid-banner.html" %}

  <div class='container'>
    <h1>Contact Us</h1>
    <p class='contact-intro'>Have a question? We'd love to hear from you.</p>

    <div class='contact-wrapper'>
      <div class='contact-form'>
        <h2>Send us a Message</h2>
        <form method='post'>

          {% csrf_token %}

          {% if form.non_field_errors %}

            <div class='form__errors'>

              {% for error in form.non_field_errors %}

                <p class='form__error'>{{ error }}</p>

              {% endfor %}

            </div>

          {% endif %}

          <div class='form-input'>
            <label for='name'>Name <span class='asterisk'>*</span></label>
            {{ form.name }}
          </div>
          <div class='form-input'>

            {% if form.email.errors %}

              <div class='form__errors'>

                {% for error in form.email.errors %}

                  <p class='form__error'>{{ error }}</p>

                {% endfor %}

              </div>

            {% endif %}

            <label for='email'>Email <span class='asterisk'>*</span></label>
            {{ form.email }}
          </div class='form-input'>
          <div class='form-input'>
            <label for='message'>Message <span class='asterisk'>*</span></label>
            {{ form.message }}
          </div>

          <p>
            If you are a first time client, please include your address to
            facilitate scheduling.
          </p>

          <div class='form-input-group'>
            <div class='form-input'>
              <label for='{{ form.street_address.id_for_label }}'>{{ form.street_address.label }}</label>
              {{ form.street_address }}
            </div>

            <div class='form-inline'>
              <div class='form-input'>
                <label for='{{ form.city.id_for_label }}'>{{ form.city.label }}</label>
                {{ form.city }}
              </div>

              <div class='form-input'>
                <label for='state'>State</label>
                <input id='state' disabled value='North Carolina'>
              </div>
            </div>

            <div class='form-input'>
              <label for='{{ form.zipcode.id_for_label }}'>{{ form.zipcode.label }}</label>
              {{ form.zipcode }}
            </div>
          </div>

          <div class="my-4">
            {{ form.captcha }}
          </div>

          <button type='submit' class='button--primary'>Send</button>
        </form>
      </div>

      <div class='contact-info'>
        <h2>Contact Info</h2>

        {% if practice_info.address %}

          <div class='contact-info__item'>
            <i class='fa fa-map-marker'></i>
            <div>
              {{ practice_info.address|linebreaks }}
            </div>
          </div>

        {% endif %}

        {% if practice_info.email %}

          <div class='contact-info__item'>
            <i class='fa fa-envelope'></i>
            <p><a href='mailto:{{ practice_info.email }}' target='_blank'>{{ practice_info.email }}</a></p>
          </div>

        {% endif %}

        {% if practice_info.phone %}

          <div class='contact-info__item'>
            <i class='fa fa-phone'></i>
            <p>{{ practice_info.phone }}</p>
          </div>

        {% endif %}

        {% if practice_info.fax %}

          <div class='contact-info__item'>
            <i class='fa fa-fax'></i>
            <p>{{ practice_info.fax }}</p>
          </div>

        {% endif %}

        <section class="my-5" id="donate">
          <h2>Donate</h2>
          <p>
            If you would like to donate to CHMVH to assist those who cannot afford pet care for themselves, we accept donations through the
            <a href="https://www.vccfund.org/" rel="noopener noreferrer" target="_blank">Veterinary Care Charitable Fund</a>.
          </p>
          <a class="button--primary button--block" href="https://www.vccfund.org/forms/donation-form/?ref=184&company=Chapel%20Hill%20Mobile%20Veterinary%20Housecalls" rel="noopener noreferrer" target="_blank">
            Donate
          </a>
        </section>
      </div>
    </div>
  </div>

{% endblock %}
